# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
/build/

# Output files
*.out
*.log

# Dependency directories
vendor/

# Go workspace file
*.code-workspace

# IDE/editor files
.idea/
.vscode/
*.swp
*~
.DS_Store
Thumbs.db

# OS files
Desktop.ini

# Go modules
/go.sum
